{% extends 'basemodel.html' %}
{% load static %}

{% block title_block %}
    Transposable Element Database - HEMU
{% endblock %}

{% block content_block %}

    <div class="container" style="margin: 25px 110px;">
        <div class="page-header">
            <h2 style="margin-top: 45px;">The TE database</h2>
            <p class="lead" style="margin: 0 -10px"><small>Search here for TE regarding representative Andropogoneae species.</small></p>
        </div>
        <img src="{% static 'TE_homepage/te_comp.png' %}" alt="" width="1100px">

    </div>
{% endblock %}