{% extends 'basemodel.html' %}

{% block title_block %}
    Transcription Factor Database - HEMU
{% endblock %}

{% block content_block %}
    {% load static %}

    <div class="container" style="margin: 25px 110px;">
        <div class="page-header">
            <h2 style="margin-top: 45px;">The TF database</h2>
        </div>
    </div>

    <div class='container'>
        <div class='row'>
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div style="text-align: center">
                        <div>Heatmap: <i>{{ species_query }}</i>, Filename: {{ heatmap_filename }}<br></div>
                        <a href="{% static 'Temp_R_heatmap/' %}{{ heatmap_filename }}" download="heatmap">
                            <button class="btn btn-default" type="button" id=download>Download Heatmap</button>
                        </a>
                        <a href={% url 'tf_home_page' %}>
                            <button class="btn btn-default">Go Back</button>
                        </a>
                    </div>
                    <br>
                    <img src="{% static 'Temp_R_heatmap/' %}{{ heatmap_filename }}"
                         class="img-responsive" alt="Cinque Terre" id="downloadable_img1">
                  </div>
                </div>
            </div>
            <div class="col-md-1">

            </div>
        </div>
    </div>

{% endblock %}